# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars.json
terraform.tfstate.backup
*.zip

# Local settings
.DS_Store
.idea/
.vscode/
*.log

# AWS credentials or secrets
*.pem
*.key
secrets.*